#chat-messages .fromID-4601689 .badge-box i,
#chat-messages .cm:not(.rsshit).id-4601689 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/mario%2030%20x%2030_zpshwwhcsks.png);
    background-size: cover;
}

#chat-messages .fromID-5524974 .badge-box i,
#chat-messages .cm:not(.rsshit).id-5524974 .badge-box i {
    background-image: url(https://usatsneakhype.files.wordpress.com/2013/08/nice-ass-gifs-222.gif);
    background-size: cover;
}

#chat-messages .fromID-3576967 .badge-box i,
#chat-messages .cm:not(.rsshit).id-3576967 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/badge%20dorito30x30_zps6wp1s3nn.png);
    background-size: cover;
}

#chat-messages .fromID-6260837 .badge-box i,
#chat-messages .cm:not(.rsshit).id-6260837 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/badgedani30x30_zpsssyfkbdk.png);
    background-size: cover;
}

#chat-messages .fromID-4471654 .badge-box i,
#chat-messages .cm:not(.rsshit).id-4471654 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/4818c987c6552683b3761727a6f118cd_zpsfqb0rdr7.gif);
    background-size: cover;
}

#chat-messages .fromID-6380879 .badge-box i,
#chat-messages .cm:not(.rsshit).id-6380879 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/montercatfredyy30x30_zpseog1218p.png);
    background-size: cover;
}
/*knt-fl*/
#chat-messages .fromID-19015446 .badge-box i,
#chat-messages .cm:not(.rsshit).id-19015446 .badge-box i {
    background-image: url(http://i.imgur.com/fDBBqrn.png);
    background-size: cover;
}
/*emotions*/
#chat-messages .fromID-14571323 .badge-box i,
#chat-messages .cm:not(.rsshit).id-14571323 .badge-box i {
    background-image: url(http://i1290.photobucket.com/albums/b526/Figuer_Jorsh/Screenshot_250_zpsegiwzs1x.png);
    background-size: cover;
}
/*krico*/
#chat-messages .fromID-5929919 .badge-box i,
#chat-messages .cm:not(.rsshit).id-5929919 .badge-box i {
    background-image: url(http://image.prntscr.com/image/9dd37adfc4fa4690ab1176d7bf25943a.png);
    background-size: cover;
}
/*oniria*/
#chat-messages .fromID-6446151 .badge-box i,
#chat-messages .cm:not(.rsshit).id-6446151 .badge-box i {
    background-image: url(http://www.hifreevideos.com/images/preview/tie-dye-alien-tumblr-45039.jpg);
    background-size: cover;
}
/*lkfc*/
#chat-messages .fromID-5463223 .badge-box i,
#chat-messages .cm:not(.rsshit).id-5463223 .badge-box i {
    background-image: url(https://cdn.discordapp.com/attachments/278023430870401024/286949087708708867/andy_pandy_is_a_panda_____by_leezluntz-d64tprf.png);
    background-size: cover;
}